body {
  background-color: black;
  font-size: large;
  color: lightyellow;
  
}

input {
    border: none;
    border-bottom: 2px solid black;
    background-color: #227054;
    color: lightyellow;
    outline: auto;
    height: 20px;
    font-size: large;
}

h2 {
    text-align: center
}
button {
  border:lightyellow solid 1px;
  background-color: #227054;
  color: lightyellow;
}

table td th tr {
 
}
tr:hover {background-color: #7be6bf;}
tr:nth-child(even) {background-color: #f2f2f2;}